<footer class="mt-5 pt-2" style="background-color: #7C9885;">
	<div class="container">
		<div class="row">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center py-3 text-center">
					<!-- copyright text -->
					<div class="text-white"> Copyrights ©2023 Cristian Hortua. Build by <a href="https://www.cristianhortua.com/" class="text-white">CasTech</a>. </div>
					<!-- copyright links-->
					<div class="nav mt-2 mt-lg-0">
						<ul class="list-inline mx-auto mb-0">
							<li class="list-inline-item me-0"><a class="nav-link py-1 text-white" href="#">Privacy policy</a></li>
							<li class="list-inline-item me-0"><a class="nav-link py-1 text-white" href="#">Terms and conditions</a></li>
							<li class="list-inline-item me-0"><a class="nav-link py-1 pe-0 text-white" href="#">Refund policy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>